@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #283747;
  color: white;
}

.container {
  margin: 0 auto;
  display: grid;
}

.header {
  padding: 20px;
  width: 800;
  max-width: 100%;
}

.header h1 {
  font-size: 2.5rem;
  color: #ecf0f1;
  margin-bottom: 1rem;
}

#new-task-form {
  display: grid;
  grid-template-columns: 11fr 1fr;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  background-color: #1b2631;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.125rem;
  margin-right: 0.5rem;
}

#new-task-input:focus {
  background-color: #ecf0f1;
  border-bottom: #f5b041 solid;
}

#new-task-input::placeholder {
  color: #5d6d7e;
}

#new-task-submit {
  background-color: #f5b041;
  padding: 1rem 1.5rem;
  border-radius: 50%;
  color: #1b2631;
  font-size: 1.5rem;
  font-weight: 1000;
  cursor: pointer;
  transition: 0.5s;
}

#new-task-submit:hover {
  scale: 1.05;
  transition: 1s;
}

.container-task {
  background-color: #1b2631;
  border-radius: 1rem;
  margin: 0 5px;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  font-size: 1.5rem;
  color: #5d6d7e;
  margin-bottom: 1rem;
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5b041;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

#tasks .task .content {
  flex: 1 1 0%;
}

#tasks .task .content .text {
  color: #1b2631;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
  display: block;
  transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
  color: crimson;
}

#tasks .task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  background-color: #1b2631;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  margin: 0 0.3rem;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.4s;
}

.task .actions button:hover {
  scale: 1.1;
  transition: 1s;
}
